<span class="chip">
  <slot />
</span>

<style lang="scss">
  .chip {
    border: 1px solid var(--muted-color);
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 0.25rem 0.5rem;
    color: var(--muted-color);
    font-family: var(--contrast-font-family);
  }
</style>
