---
import type { Tool } from "../constants/tools.constants";

interface Props {
  company?: string;
  tools: Tool[];
}

const { company, tools } = Astro.props;
---

<section class="container">
  <p class="greeting">Hello there 👋</p>
  <h1 class="bio">
    <span class="black">I'm Iván, a </span>
    <strong class="loud">Sr. Frontend Developer </strong>
    <span class="black">with </span>
    <strong class="loud">over 6 years of experience</strong><span class="black"
      >, specializing in Next.js and React Native with a proven track record in
    </span>
    <strong class="loud">leading teams </strong>
    <span class="black">and </span>
    <strong class="loud"
      >delivering high-quality web and mobile applications</strong
    ><span class="black">.</span>
  </h1>
  <p class="tools">
    Mainly using: {
      tools.map((tool) => (
        <code title={tool.name} class="code">
          {tool.extension}
        </code>
      ))
    }
  </p>
  {
    company && (
      <p class="working-at">
        Currently working at: <span class="company">{company}</span>
      </p>
    )
  }
</section>

<style>
  .container {
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin: auto;
  }
  .greeting {
    font-family: var(--contrast-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--muted-color);
    margin-bottom: 0.5rem;
  }
  .bio {
    font-family: var(--base-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.5;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .black {
    background: linear-gradient(0deg, var(--loud-color), var(--loud-color)),
      linear-gradient(90.42deg, #eb0e78 -1.62%, #fd880d 100.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .loud {
    font-weight: 600;
  }

  .tools {
    font-family: var(--contrast-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--muted-color);
    margin: auto;
    margin-top: 1rem;
    text-align: left;
  }

  .code {
    background-color: var(--semi-muted-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: var(--background-color);
    user-select: none;
    font-size: 10px;
    font-weight: bold;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    font-weight: 600;
  }

  .working-at {
    margin-top: 0.25rem;
    font-family: var(--contrast-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--muted-color);
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .working-at::before {
    content: "";
    display: block;
    background-color: #17b730;
    border-radius: 50%;
    width: 0.275rem;
    height: 0.275rem;
    animation: blink-animation 1s infinite;
    -webkit-animation: blink-animation 1s infinite;
  }
  @keyframes blink-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .company {
    color: var(--semi-muted-color);
  }
  @media (min-width: 760px) {
    .greeting,
    .company {
      font-size: 0.75rem;
    }
    .bio {
      font-size: 2rem;
    }
  }
</style>
